/* https://jsfiddle.net/5o48vs9y/ */



header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #F00;
  padding: 25px;
  display: flex;
 
}

h1#logo{
  position: fixed;
  margin: 0;
  top: 3.5rem;
  left: 1.65rem;
  /*font-size:120px;*/
  font-size:8.35vw;
  margin-left: -1.6vw;
  font-stretch: 20%;
  text-transform:uppercase;
  line-height:40px;
  transition:  font-size 2s ease,
      				line-height 2s ease, 
      				top 2s ease,
              margin-left 2s ease, 
      				left 2s ease;
  z-index: 1000;
}

span.nbsp{
  display: inline-block;
  width: 0.2em;
  /*background: #F00;*/
}

/*span{
  margin-left: 30px;
  font-size:40px;
  line-height:40px;
  transition:  font-size 1s ease,line-height 1s ease;
}*/

header.small span{
  font-size:10px;
  line-height:10px;
}

h1#logo.small{
  font-size:1rem;
  top: 0.5rem;
  left: 2rem;
  margin-left: -1.5vw;
}

main{
  margin: 100px 20px 20px;
}

.gridimage {
  margin-top: 170px;
  margin-left: 20px;
/*  display: grid;
  grid-template-rows: 300px 40px 50px 150px;
  grid-template-areas: "1 2 3 4 5 6";*/
  display: flex;
  flex-wrap: wrap;
}

.gridimage img{
  height: 130px;
  width: auto;
  margin-right: 10px;
  margin-bottom: 10px;
}
