/*https://developer.mozilla.org/fr/docs/Web/CSS/Using_CSS_custom_properties*/

/* GLOBAL */

:root{
	--petite-marge:0.5rem;
	--color-main: #000;
	--color-active: #E6E6E6 ;
}

*{
	box-sizing: border-box;
}

html {
	font-size: 20px;
}

body {
	font-family: 'Michroma', sans-serif;
	color: var(--color-main);
}

a { 
	text-decoration:none;
	color: var(--color-main);
}


/* HEADER + TITLE */

/* https://jsfiddle.net/5o48vs9y/ */

header#entete {
	background: #FFF;
	/*height: 50px;*/
	/*border: 1px blue solid;*/
	top: 0;
	left:0;
	position: fixed;
	width: 100%;
	z-index: 3;
	padding: 1rem;
	display: grid;
	text-decoration: none;
	grid-template-columns:2fr 4fr 1fr 14.5vw;
	grid-template-areas: ". menu url search";
	grid-gap: 0.5rem;
}

.home header#entete {
	background: transparent;
}

header.small span{
	font-size: 1.5vw;
	line-height: 1em;
}


h1#logo{
	/*background: rgba(0,255,0,.5);*/
	margin: 1rem;
	position: sticky;
	top: 1rem;
	left: 1rem;
	width: calc(100vw - 2rem);
	font-size: 0;
	z-index: 1;
}

.home h1#logo{
	transition: width 2s ,
				top 2s,
				left 2s;
}

h1#logo #accent{
	display: none;
}

h1#logo.small{
	top: calc(1rem - .45vw);
	width: 19vw;
	height: 1.5vw;
	z-index: 1000;
	margin-top: calc(1rem - .45vw);
}

h1#logo.small #accent{
	display: block;
}


nav{
	text-transform: uppercase;
	grid-area: menu;
	margin-left: 0;
	font-size: 1.5vw;
}
nav li{
	display: inline-block;
	margin-right: 1.5rem;
}

.home-url {
	grid-area: url;
	font-size: 1.5vw;
}


form {
	grid-area: search;
	z-index: 2000;
	margin: 0;
	display: flex;
}

input[type=text] {
	font-family: Michroma, sans-serif;
	font-size: 1rem;
}

input[type=text]:focus{
	box-shadow: 0;
	outline: none;
}

#search{
	width:12vw;
	font-size: 1.5vw;
	padding: 0;
	margin: 0;
	border: 0;
	background: none;
	line-height: 1em;
	border-bottom: solid 0.65vw;
	border-color: var(--color-main);
	transform: rotate(-4deg); 
	transform-origin: top left;
}


/* MOSAIQUE HOME */

.gridimage{
	/*background: #333;*/
	/*min-height: 1800px;*/
	margin: 1rem;
}

.gridimage ul{
	display: flex;
	flex-wrap: wrap;
}

.gridimage img{
	height: 130px;
	width: auto;
	margin-right: 10px;
	margin-bottom: 10px;
}

/* FIN HOME */


/*
h1 {
	text-align: right;
	font-size: 1.1rem;
}

h2 {
	text-align: left;
	font-size: 1.1rem;
}

h3 {
	line-height: 1rem;
	font-size: 0.7rem;
}

h4 {
	font-family: 'Roboto', sans-serif !important;
	font-weight: lighter;
	font-size: 0.6rem;
}

.text{
	font-family: 'Roboto', sans-serif !important;
	font-weight: lighter;
	font-size: 0.6rem;
}

.text{
	margin-top: 1em;
}*/



/* OLD */ 

/*@media (min-width:576px) {
	h4, .text {
		font-size: 0.6rem;
	}
	h3 {
		font-size: 0.7rem;
		line-height: 0.7rem;
	}
	h2 {
		font-size: 1.1rem;
	}
	h1 {
		font-size: 1.1rem;
	}
}
@media (min-width:768px) {
	h4, .text {
		font-size: 0.75rem;
	}
	h3 {
		font-size: 0.9rem;
		line-height: 0.9rem;
	}
	h2 {
		font-size: 1.3rem;
	}
	h1 {
		font-size: 1.3rem;
	}
}
@media (min-width:992px) {
	h4, .text {
		font-size: 0.85rem;
	}
	h3 {
		font-size: 1.1rem;
		line-height: 1.1rem;
	}
	h2 {
		font-size: 1.5rem;
	}
	h1 {
		font-size: 1.5rem;
	}
}*/



img {
	width: 100%;
}












/* ETUDIANT ????*/

main{
	margin-top: 6rem;
	padding: 1rem;
}


main header{
	position: fixed;
	/*top: 3rem;*/
	top: calc(2rem + 2.65vw);
	left: 0;
	right: 0;
	background: white;
	padding: 1rem;
	z-index: 1000;
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: 30px;
	grid-template-areas: "nom option";
	/*padding-left: 2rem;
	padding-right: 2rem;*/
}

main header h1{
	text-align: left;
	grid-area: nom;
}

main header h2{
	text-align: right;
	grid-area: option;
}


.etudiant #content{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-rows: auto;
	grid-template-areas: "gauche droite";
	/*grid-gap: 6rem;*/
}

.etudiant .gauche{
	position: fixed;
	width: calc(50vw - 1.5rem);
	grid-area: gauche;
	height: calc(100vh - 8rem);
	overflow: auto;
	padding-right: 6rem;
}

.etudiant .droite{
	grid-area: droite;
}


.etudiant figure{
	position: relative;
	background: var(--color-main);
	margin-bottom: 0.5rem;
}

.etudiant figure img{
	filter: grayscale(0);
	opacity: 1;
	transition: filter 0.5s ease, opacity 0.5s ease;
}

.etudiant figcaption{
	position: absolute;
	font-size: 0.8rem;
	bottom: .75rem;
	left: .75rem;
	right: .75rem;
	color: #FFF;
	opacity: 0;
	transition: opacity 0.5s ease, bottom 1s ease;
}

.etudiant figure:hover figcaption{
	opacity: 1;
	bottom: 15px;
}

.etudiant figure:hover img{
	opacity: 0.3;
	filter: grayscale(5);
}

.etudiant .legende {
	color: white;
	position: absolute;
	width: 40%;
	/*border: 1px blue solid;*/
	margin-left: 1%; 
	margin-left: 1%; 
	margin-top: 1%;
}


.etudiant .texte_gauche
{
	/*display: inline;  the default for span */

	width: 40%;
	/*border: 1px blue solid;*/
	margin-left: 1%; 
	position: fixed;
	float: left;
	top: 50px;
	background: white;
	z-index: 3 ;

	/* flex-wrap: nowrap | wrap | wrap-reverse; */
}

.etudiant .images_droite
{
	/*display: inline;  the default for span */
	float: right;
	position: relative;
	overflow: scroll;
	width: 56%;
	/*border: 1px blue solid;*/
	top: 115px;
	z-index: 1 ;

	/* flex-wrap: nowrap | wrap | wrap-reverse; */
}

.etudiant .nom_droite
{

	/*border: 1px blue solid;*/
	float: right;
	position: fixed;
	margin-top: 40px;
	width: 98%;
	z-index: 2 ;
	background: white;

}
.etudiant h3{
	margin-bottom: 1em;
}

.etudiant .text+.text{
	margin-top: 1em;
}

.etudiant{
	/*margin: 120px 20px 20px;*/
}






/* ANNUAIRE */

#annuaire li:first-child{
	position: sticky;
	/*top: 3rem;*/
	top: calc(2rem + 2.65vw);
	/*background: red;*/
	border-top: 1px solid var(--color-main);
	border-bottom: 1px solid var(--color-main);
	background: #FFF;
	z-index: 99999;
}


#annuaire-container{
	/*margin-top: 50px;*/
	margin-top: calc(1rem + 2.65vw);
	/*font-size: 0.7rem;*/
	font-size: 1rem;
	/*margin: 50px 20px 20px;*/
	/*padding: 1rem;*/
}

#annuaire-container a{
	font-size: 1rem;

}


#annuaire-container ul{
	margin: 0;
	padding: 0;
	list-style: none;
}

#annuaire-container li{
	display: grid;
	width: 100%;
	grid-template-columns: 10% 30% 30% 30%;
	grid-template-areas:
		"a g n u"
		"c c c c";
	border-bottom: 1px solid var(--color-main);
	padding: 5px 0px;
	height: calc(1rem + 10px);
	/*cursor:pointer;*/
	/*background: #FFF;*/
	/*transition: background 1s ease;*/
}

#annuaire-container li:last-child{
	border-bottom: 0;
}

#annuaire-container li span{
	cursor: pointer;
}

#annuaire-container li.open{
	background: var(--color-active);
	height: auto;
}

#annuaire-container li.open .content{
	min-height: 90px;
}

#annuaire-container .annee{
	grid-area: a;
	padding-left: var(--petite-marge);
}

#annuaire-container .groupe{
	grid-area: g;
}

#annuaire-container .nom{
	grid-area: n;
}

#annuaire-container .url{
	grid-area: u;
  	overflow: hidden;
	text-overflow: ellipsis;
	height: 1.15rem;
}

#annuaire-container .content{
	grid-area: c;
	max-height:100%;
	width:auto;
	position: relative;
	background-color: var(--color-active);
}

#annuaire-container .content .container{
	padding: var(--petite-marge);
}

#annuaire-container #content_vignette{
	max-height:auto;width:30%;
	padding: 5px 1rem 5px 0;
	float:right;
	position: relative;
}

#annuaire-container #content_informations{
	padding: 1rem 0px;
	padding-left: 40%;
}

#annuaire-container #content_informations p+p{
	margin-top: 1em;
}

#annuaire-container figure{
	position: relative;
	background: var(--color-main);
	margin-bottom: 0.5rem;
}

#annuaire-container figure img{
	width: 100%;
	height: auto;
	vertical-align: bottom;
}


#annuaire-container figcaption{
	position: absolute;
	font-size: 0.8rem;
	bottom: -.75rem;
	left: .75rem;
	right: .75rem;
	color: #FFF;
	opacity: 0;
	transition: opacity 0.5s ease, bottom 1s ease;
}

#annuaire-container figure:hover figcaption{
	opacity: 1;
	bottom: 15px;
}

#annuaire-container figure:hover img{
	opacity: 0.3;
	filter: grayscale(5);
}

#annuaire .filter button{
	background: none;
	border: 0;
	padding: 0;
	color: #999;
	cursor: pointer;
}
#annuaire .filter button.active{
	font-weight: bold;
	color: #000;
}

/* FIN ANNUAIRE */


/* DEFAULT */


.default header h1{
	text-align: left;
}

.default .text{
	width: calc(50% - 1rem);
}

.default .text p+p{
	margin-top: 1rem;
}

/* FIN DEFAULT */

@media screen and (max-width: 1280px){

	html{
		font-size: 16px;
	}

	body{
		/*background: red;*/
	}
}

@media screen and (max-width: 1024px){

	html{
		font-size: 14px;
	}

	body{
		/*background: green;*/
	}
}

@media screen and (max-width: 920px){

	html{
		font-size: 12px;
	}

	body{
		/*background: yellow;*/
	}
}

@media screen and (max-width: 840px){

	html{
		font-size: 12px;
	}

	body{
		/*background: yellow;*/
	}

	#annuaire-container li{
		grid-template-columns: 20% 30% 50%;
		grid-template-areas:
		"a g n"
		"c c c";
	}

	#annuaire-container .groupe{
		font-size: 0;
	}

	#annuaire-container li:first-child .groupe{
		font-size: 1rem;
	}

	#annuaire-container .groupe:before{
		content: attr(data-init);
		font-size: 1rem;
	}


	#annuaire-container .prenom{
		font-size: 0;
	}

	#annuaire-container .prenom:before{
		content: attr(data-init);
		font-size: 1rem;
	}

	#annuaire-container .url{
		display: none
	}

	#annuaire-container #content_informations{
		padding-left: 50%;
	}
	
	#annuaire-container #content_vignette {
	    max-height: auto;
	    width: 50%;
	    padding: 5px 1rem 5px 0;
	    float: none;
	    margin-left: 50%;
	}
}